
@use "./variables" as *;

@mixin mobile {
    @media screen and (max-width: $mobile-breakpoint) {
      @content;
    }
  }

  @mixin tablet {
    @media screen and (max-width: $tablet-breakpoint) {
      @content;
    }
  }