
@use "./variables" as *;


  @mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }

   @mixin desktop {
     @media screen and (min-width: $desktop-breakpoint) {
       @content;
     }
   }

   @mixin sectionHeader(
    $font-size: 1.5rem,
    $line-height: 2rem,
    $font-weight: 700,
   )
   {
    font-size : $font-size;
   }
   
   @mixin subHeader(
    $font-size: 0.875rem,
    $line-height: 1.375rem,
    $font-weight: 600,
   )
   {
    font-size : $font-size;
   }
   @mixin bodyCopy(
    $font-size: 0.813rem,
    $line-height: 1.125rem,
    $font-weight: 400,
   )
   {
    font-size : $font-size;
   }

   @mixin buttons(
    $font-size: 1rem,
    $line-height: 1.25rem,
    $font-weight: 700,
   )
   {
    font-size : $font-size;
   }