@use "./partials/variables" as*;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;


* {
    font-family: "AvenirNext LT Pro";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: $black;
    display:block;
    width:100%;
    height:100%;
    @include tablet {
        background-color: $black;
        display:flex;
        width:100%;
        height:100%;
    }
    &__image {
        height: 50%;
        width: 100%;
        padding: 1rem 0 1rem 0;
        margin: auto;
        @include tablet {
            width:25%;
            height:100%;
            margin:0;
            padding:0;
        }
    }
    &__logo{
        width:50%;
        display: block;
        margin: auto;
        @include tablet {
            width:70%;
            padding:1.5rem 0;
        }
    }

    &__nav{
        height:40%;
        width:100%;
        @include tablet {
            height:100%;
            width: 30%;
        }
    }
    &__list{
        display: inline-flex;
        height:40%;
        width:100%;
        list-style: none;
        @include tablet {
            display:flex;
            height:100%;
            width: 100%;
        }
    }

    &__leftitem {
        width:50%;
        text-align: center;
        border-bottom: $white 2px solid;
        padding:0 0 0.7rem 0;
        @include tablet {
            width:50%;
            height:100%;
            text-align: center;
            border-bottom: none;
            padding:1.5rem;
        }
    }
    &__rightitem{
        width:50%;
        text-align: center;
        padding:0 0 0.7rem 0;
        @include tablet {
            width:50%;
            text-align: center;
            padding:1.5rem;
            font-weight: normal;
        }
    }
    
    &__leftlink--active{
        color:$white;
        text-decoration:none;
        padding:0.5rem;
        width:100%;
        @include tablet {
            height:100%;
            padding:1.5rem 0;
            border-bottom: $white 2px solid;
        }
    }
    &__rightlink{
        color:$mercury;
        text-decoration:none;
        font-weight: normal;
    }
}

.hero {
    position:relative;
    background-image: linear-gradient(rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7)), url("../assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 100%;

    @include tablet {
        position:relative;
        background-size: cover;
        height: 55vh;
        width: 100%;
    }


    &__text {
        position:absolute;
        color: $white;
        top:44%;
        //padding-top: 4rem;
        padding-left: 1rem;
        margin: 0;
        font-size: 1.46rem;

        @include tablet {
        position:absolute;
        color: $white;
        top:44%;
        font-size: 3.7rem;
        padding-left: 2rem;
        }
    }
}

.main {
    &__heading {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1.5rem 1rem 0.2rem 1rem;
        font-weight: Bold 700;

        @include tablet {
            margin: 1.5rem 0 0.5rem 1rem;
            font-size: 2rem;

        }
    }


    &__picture {
        height: 23vh;
        width: 100%;
        opacity: 2;
        background-size: cover;
        padding: 0.5rem 1rem 1rem 1rem;

        @include tablet {
            width: 85%;
            height: 40vh;
            margin: 1rem 0rem 1rem 4rem;

        }

    }

    &__quote {
        
        line-height: 1.2rem;
        font-weight: Demi 600;
        padding: 0 1rem 1rem 1rem;

        @include tablet {
            margin: 0 4rem;
            font-size: 1.2rem;
        }
    }

    &__first {
        font-size: 0.85rem;
        font-weight:600;
        @include tablet{
            font-size: 1.495rem;
            font-weight:600;
            line-height:1.8rem;
        }
    }

    &__second {
        font-size: 0.85rem;
        padding: 0.3rem 0 0rem 0;
        @include tablet{
            font-size: 1rem;
            font-weight:600;
            line-height:2rem ;
        }
    }

    &__subheading {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: Demi 600;
        padding: 0 1rem 1rem 1rem;

        @include tablet {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: Demi 600;
            margin: 2rem 0 0 4rem;
        }

    }

    &__description {
        padding: 0 1rem 0 1rem;
        @include tablet{
            display:flex;
        }
    }

    &__top {
        font-size: 0.85rem;
        line-height: 1.125rem;
        font-weight: Regular 400;
        @include tablet{
            font-size: 0.91rem;
            line-height: 1.425rem;
            font-weight: 400;
            padding: 0 0.4rem 0 4rem;
        }
    }

    &__bottom {
        margin-top: 1rem;
        font-size: 0.84rem;
        line-height: 1.125rem;
        font-weight: Regular 400;
        @include tablet{
            margin: 0;
            font-size: 0.91rem;
            line-height: 1.425rem;
            font-weight: 400;
            padding: 0 4.5rem 0 1rem;
        }
    }
}

.gallery {
    background-color: $mercury;
    margin: 0;
    padding:0;

    &__subtitle {
        font-size: 1.5rem;
        line-height: 1rem;
        font-weight: 700;
        padding: 2rem 0 1rem 1rem;

        @include tablet {
            margin: 2rem 0 1rem 1rem;
            font-size: 2.3rem;
            font-weight: 700;
            padding-top: 3rem;
        }
    }

    &__row1 {
        @include tablet {
            display: flex;
            flex-direction: row;
            margin-left: 2rem;

        }
    }

    &__row2 {
        @include tablet {
            display: flex;
            flex-direction: row;
            margin-left: 2rem;
        }
    }

    &__row3 {
        @include tablet {
            display: flex;
            flex-direction: row;
            margin-left: 2rem;
        }
    }

    &__image {
        height: 23vh;
        width: 100%;
        background-position: cover;
        background-size: center;
        padding:1rem 1rem 0 1rem;

        @include tablet {
            width: 32vw;
            height: 20vw;
            padding: 0 1rem 1rem 0;



        }
    }


}


.footer {
    background-color: $black;
    color: $white;
    margin-top: 0.5rem;
    padding: 1rem 0 1rem 1rem;
    font-size: 0.8rem;
    line-height: 1.125rem;
    font-weight: Regular 400;

    &__chat {
        font-size:1.5rem;
        @include tablet {
            float: left;
            margin-left: 1rem;
        }
    }

    &__icon {
        height: 1.5rem;
        margin-top: 1rem;
        margin-right: 1.5rem;

    }

    &__part1 {
        @include tablet {
            width: 33%;
            float: left;
            margin-left: 1rem;
        }
    }

    &__part2 {
        @include tablet {
            width: 33%;
            float: left;
        }
    }


    &__company {
        padding: 1rem 0;
    }

    &__mail {
        padding: 1rem 0;
    }

    &__name {
        margin: 2rem 0 1rem 0;
        font-size: 1.6rem;

        @include tablet {

            
        }
    }

    &__copyrights {
        font-size: 0.75rem;

        @include tablet {
            margin-left: 1rem;
            font-size: 0.9rem;
        }
    }
}

















