@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "AvenirNext LT Pro";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    background-color: #323232;
    display: flex;
    width: 100%;
    height: 100%;
  }
}
.header__image {
  height: 50%;
  width: 100%;
  padding: 1rem 0 1rem 0;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .header__image {
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__image {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
.header__logo {
  width: 50%;
  display: block;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 70%;
    padding: 1.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    width: 60%;
    padding: 2rem 0 2rem 2rem;
  }
}
.header__nav {
  height: 40%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav {
    height: 100%;
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav {
    height: 100%;
    width: 20%;
  }
}
.header__list {
  display: inline-flex;
  height: 40%;
  width: 100%;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .header__list {
    display: flex;
    height: 100%;
    width: 100%;
  }
}
.header__leftitem {
  width: 50%;
  text-align: center;
  border-bottom: #FFFFFF 2px solid;
  padding: 0 0 0.7rem 0;
}
@media screen and (min-width: 768px) {
  .header__leftitem {
    width: 50%;
    height: 100%;
    text-align: center;
    border-bottom: none;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__leftitem {
    width: 50%;
    height: 100%;
    text-align: center;
    border-bottom: none;
    padding: 2rem 0;
  }
}
.header__rightitem {
  width: 50%;
  text-align: center;
  padding: 0 0 0.7rem 0;
}
@media screen and (min-width: 768px) {
  .header__rightitem {
    width: 50%;
    text-align: center;
    padding: 1.5rem;
    font-weight: normal;
  }
}
@media screen and (min-width: 1280px) {
  .header__rightitem {
    width: 50%;
    height: 100%;
    text-align: center;
    border-bottom: none;
    padding: 2rem 0;
  }
}
.header__leftlink--active {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__leftlink--active {
    height: 100%;
    padding: 1.5rem 0;
    border-bottom: #FFFFFF 2px solid;
  }
}
@media screen and (min-width: 1280px) {
  .header__leftlink--active {
    height: 100%;
    padding: 2rem 0;
    margin: 0;
    border-bottom: #FFFFFF 2px solid;
  }
}
.header__rightlink {
  color: #E1E1E1;
  text-decoration: none;
  font-weight: normal;
}

.hero {
  position: relative;
  background-image: linear-gradient(rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7)), url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    position: relative;
    background-size: cover;
    height: 55vh;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    position: relative;
    background-size: cover;
    height: 55vh;
    width: 100%;
  }
}
.hero__text {
  position: absolute;
  color: #FFFFFF;
  top: 44%;
  padding-left: 1rem;
  margin: 0;
  font-size: 1.46rem;
}
@media screen and (min-width: 768px) {
  .hero__text {
    position: absolute;
    color: #FFFFFF;
    top: 44%;
    font-size: 3.7rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    position: absolute;
    color: #FFFFFF;
    top: 40%;
    font-size: 3.7rem;
    font-weight: 600;
    padding-left: 6rem;
  }
}

.main__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem 1rem 0.2rem 1rem;
  font-weight: Bold 700;
}
@media screen and (min-width: 768px) {
  .main__heading {
    margin: 1.5rem 0 0.5rem 1rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__heading {
    margin: 1.5rem 0 0.5rem 6rem;
    font-weight: 600;
    font-size: 2rem;
  }
}
.main__picture {
  height: 23vh;
  width: 100%;
  opacity: 2;
  background-size: cover;
  padding: 0.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main__picture {
    width: 85%;
    height: 40vh;
    margin: 1rem 0rem 1rem 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__picture {
    width: 73%;
    height: 55vh;
    margin: 1rem 0rem 1rem 10.5rem;
  }
}
.main__quote {
  line-height: 1.2rem;
  font-weight: Demi 600;
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main__quote {
    margin: 0 4rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__quote {
    margin: 0 21rem 0 10.5rem;
    font-size: 0.9rem;
  }
}
.main__first {
  font-size: 0.85rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .main__first {
    font-size: 1.495rem;
    font-weight: 600;
    line-height: 1.8rem;
  }
}
.main__second {
  font-size: 0.85rem;
  padding: 0.3rem 0 0rem 0;
}
@media screen and (min-width: 768px) {
  .main__second {
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__second {
    font-size: 0.87rem;
    font-weight: 600;
    line-height: 2rem;
    padding: 0.5rem 0;
  }
}
.main__subheading {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2rem 0 0 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1.5rem 0 0 10.5rem;
  }
}
.main__description {
  padding: 0 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .main__description {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .main__description {
    display: flex;
  }
}
.main__top {
  font-size: 0.85rem;
  line-height: 1.125rem;
  font-weight: Regular 400;
}
@media screen and (min-width: 768px) {
  .main__top {
    font-size: 0.91rem;
    line-height: 1.425rem;
    font-weight: 400;
    padding: 0 0.4rem 0 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__top {
    font-size: 0.74rem;
    line-height: 1.425rem;
    font-weight: 500;
    padding: 0 0.4rem 0 10.5rem;
  }
}
.main__bottom {
  margin: 1rem 0;
  font-size: 0.84rem;
  line-height: 1.125rem;
  font-weight: Regular 400;
}
@media screen and (min-width: 768px) {
  .main__bottom {
    margin: 0;
    font-size: 0.91rem;
    line-height: 1.425rem;
    font-weight: 400;
    padding: 0 4.5rem 0 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__bottom {
    margin: 0;
    font-size: 0.74rem;
    line-height: 1.425rem;
    font-weight: 500;
    padding: 0 10.5rem 0 1rem;
  }
}

.gallery {
  background-color: #E1E1E1;
  margin: 0;
  padding: 0;
}
.gallery__subtitle {
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 600;
  padding: 2rem 0 1.3rem 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__subtitle {
    margin: 2rem 0 1rem 1rem;
    font-size: 2.3rem;
    font-weight: 600;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__subtitle {
    margin: 2rem 0 1rem 6rem;
    font-size: 2.3rem;
    font-weight: 600;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__row1 {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__row1 {
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__row2 {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__row2 {
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__row3 {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__row3 {
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
  }
}
.gallery__image {
  height: 21vh;
  width: 100%;
  background-position: cover;
  background-size: center;
  padding: 0rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 32vw;
    height: 20vw;
    padding: 0 1rem 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image {
    width: 27.8vw;
    height: 17vw;
    padding: 0 1.5rem 1.5rem 0;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem 0 1rem 1rem;
  font-size: 0.8rem;
  line-height: 1.125rem;
  font-weight: Regular 400;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    font-size: 0.9rem;
    padding: 1rem 0 1rem 6rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__row1 {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 2rem 0;
  }
}
.footer__chat {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__chat {
    font-size: 2.45rem;
    font-weight: 600;
    margin-left: 1rem;
    padding: 0.5rem 0 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__chat {
    font-size: 2.45rem;
    font-weight: 600;
    margin-left: 1rem;
    padding: 0.5rem 1.5rem 0 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__icons {
    display: flex;
  }
}
.footer__icon {
  height: 1.5rem;
  margin-top: 1rem;
  margin-right: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__icon {
    margin: 0.2rem 0.3rem 0 1.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__icon {
    margin: 0.2rem 0 0 2.3rem;
  }
}
.footer__logo1 {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .footer__logo1 {
    visibility: visible;
    padding: 0 0 0 14.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo1 {
    visibility: visible;
    padding: 0 0 0 31.7rem;
  }
}
.footer__logo2 {
  visibility: visible;
  padding: 2rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__logo2 {
    visibility: hidden;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__row2 {
    display: flex;
  }
}
.footer__part1 {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__part1 {
    width: 33%;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__part1 {
    width: 24%;
  }
}
.footer__part2 {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__part2 {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__part2 {
    width: 22%;
  }
}
@media screen and (min-width: 768px) {
  .footer__part3 {
    width: 30%;
    margin: 0 2rem 0 0;
  }
}
.footer__company {
  padding: 0 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__company {
    padding: 1rem 0;
  }
}
.footer__mail {
  padding: 2rem 0;
  text-decoration: none;
  color: #FFFFFF;
}
.footer__name {
  margin: 2rem 0 1rem 0;
  font-size: 1.6rem;
}
.footer__copyrights {
  font-size: 0.68rem;
}
@media screen and (min-width: 768px) {
  .footer__copyrights {
    margin-left: 1rem;
    font-size: 0.9rem;
    padding: 1rem 0 2rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyrights {
    margin-left: 1rem;
    font-size: 0.73rem;
    padding: 1rem 0 2rem 0;
  }
}/*# sourceMappingURL=bio.css.map */