@use "./partials/variables" as*;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;


*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.header{
    background-color: $teritarycolor;
    

    &__title{
        color: $primarycolor;
        text-align: center;
    }
    &__list{
        list-style: none;
        display:flex;
        justify-content: space-around;
        margin: 0;

    }
    &__leftlink{
        color:$primarycolor;
        text-decoration: none;
        border-bottom:2px solid $primarycolor;
        padding-bottom: 1.1rem;
        
        
    }
    &__rightlink{
        color:$secondarycolor;
        text-decoration: none;
    }
}

.hero{
    background-image:linear-gradient(rgba(50,50,50,0.8),rgba(50,50,50,0.8)),url("../assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    height: 20vh;
    width :100%;


   &__text{ 
    color:$primarycolor;
    padding-top: 5rem;
    padding-left: 2rem;
    margin:0;
}
}

.main{
    .heading{
        font-size: 2rem;
    }
    // @include mobile{
    //     padding-bottom : 0rem;
    //     padding-top: 0.5rem;
    // }
    // @include tablet{
    //     padding-top: 3rem;
    //     padding-bottom:2.25rem;
    // }
    .picture{
        height: 30vh;
        width :100%;
        opacity: 0.9;
    }
    .text{
        font-size: 0.813rem;
        line-height: 1.125rem;
        font-weight: Demi 600 ;
    }

}
.gallery{
    &__subtitle{
        font-size: 1.875rem;
        line-height: 1.375rem;
        font-weight: Demi 600;
    }
    &__image{
        height: 30vh;
        width :100%;
        display: block;
        margin-bottom: 1rem;
    }
}


.footer{
    background-color: $teritarycolor;
    padding:0.5rem 0 1rem 1rem;

    &__chat{
        font-size:2rem;
        color: $primarycolor;
    }
    &__icon{
        height:2rem;
        margin-right:2rem;
    }
    &__company{
        font-size: 1rem;
        color: $primarycolor;
        padding:1rem 0;
    }
    &__address{
        font-size: 1rem;;
        color:$primarycolor;
        display: block;
        
    }
    &__mail{
        font-size: 0.9rem;
        color:$primarycolor;
        padding:1rem 0;
    }
    &__name{
        font-size: 1rem;
        color: $primarycolor;
    }
    &__copyrights{
        font-size: 0.9rem;
        color: $primarycolor;
    }
}