@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "AvenirNext LT Pro";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
  display: block;
  width: 100%;
  height: 100%;
}
.header__image {
  height: 50%;
  width: 100%;
  padding: 1rem 0 1rem 0;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .header__image {
    padding-left: 3rem;
    padding-top: 2rem;
  }
}
.header__logo {
  width: 50%;
  display: block;
  margin: auto;
}
.header__nav {
  height: 40%;
  width: 100%;
}
.header__list {
  display: inline-flex;
  height: 40%;
  width: 100%;
  list-style: none;
}
.header__leftitem {
  width: 50%;
  text-align: center;
  border-bottom: #FFFFFF 2px solid;
  padding: 0 0 0.7rem 0;
}
@media screen and (min-width: 768px) {
  .header__leftitem {
    display: inline-flex;
    margin-left: 12rem;
    justify-content: space-around;
  }
}
.header__rightitem {
  width: 50%;
  text-align: center;
  padding: 0 0 0.7rem 0;
}
.header__link--active {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
}
.header__link {
  color: #E1E1E1;
  text-decoration: none;
}

.hero {
  position: relative;
  background-image: linear-gradient(rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7)), url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 45vh;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}
.hero__text {
  position: absolute;
  color: #FFFFFF;
  top: 44%;
  padding-left: 1rem;
  margin: 0;
  font-size: 1.46rem;
}
@media screen and (min-width: 768px) {
  .hero__text {
    padding-left: 2.7rem;
    padding-top: 13rem;
    font-size: 3.4rem;
  }
}

.main__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem 1rem 0.2rem 1rem;
  font-weight: Bold 700;
}
@media screen and (min-width: 768px) {
  .main__heading {
    margin-left: 1rem;
    font-size: 2rem;
  }
}
.main__picture {
  height: 23vh;
  width: 100%;
  opacity: 2;
  background-size: cover;
  padding: 0.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main__picture {
    width: 85%;
    height: 40vh;
    margin: 1rem 0rem 1rem 4rem;
  }
}
.main__quote {
  line-height: 1.2rem;
  font-weight: Demi 600;
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main__quote {
    margin: 0 4rem;
    font-size: 1.2rem;
  }
}
.main__first {
  font-size: 0.85rem;
}
.main__second {
  font-size: 0.85rem;
  padding: 0.3rem 0 0rem 0;
}
.main__subheading {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: Demi 600;
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .main__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: Demi 600;
    margin: 2rem 0 0 4rem;
  }
}
.main__description {
  padding: 0 1rem 0 1rem;
}
.main__top {
  font-size: 0.85rem;
  line-height: 1.125rem;
  font-weight: Regular 400;
}
.main__bottom {
  margin-top: 1rem;
  font-size: 0.84rem;
  line-height: 1.125rem;
  font-weight: Regular 400;
}

.gallery__subtitle {
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: Bold 700;
  padding: 2rem 0 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__subtitle {
    margin: 2rem 0 1rem 1rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__row1 {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__row2 {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__row3 {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }
}
.gallery__image {
  height: 23vh;
  width: 100%;
  background-position: cover;
  background-size: center;
  padding: 1rem 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 32vw;
    height: 20vw;
    padding: 0 1rem 1rem 0;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  margin-top: 0.5rem;
  padding: 1rem 0 1rem 1rem;
  font-size: 0.8rem;
  line-height: 1.125rem;
  font-weight: Regular 400;
}
.footer__chat {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__chat {
    float: left;
    margin-left: 1rem;
  }
}
.footer__icon {
  height: 1.5rem;
  margin-top: 1rem;
  margin-right: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__part1 {
    width: 33%;
    float: left;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__part2 {
    width: 33%;
    float: left;
  }
}
.footer__company {
  padding: 1rem 0;
}
.footer__mail {
  padding: 1rem 0;
}
.footer__name {
  margin: 2rem 0 1rem 0;
  font-size: 1.6rem;
}
.footer__copyrights {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .footer__copyrights {
    margin-left: 1rem;
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=bio.css.map */