@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "AvenirNext LT Pro";
}

.header {
  background-color: #323232;
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    background-color: #323232;
    display: flex;
    width: 100%;
    height: 100%;
  }
}
.header__image {
  height: 50%;
  width: 100%;
  padding: 1rem 0 1rem 0;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .header__image {
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__image {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
.header__logo {
  width: 50%;
  display: block;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 70%;
    padding: 1.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    width: 60%;
    padding: 2rem 0 2rem 2rem;
  }
}
.header__nav {
  height: 40%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav {
    height: 100%;
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav {
    height: 100%;
    width: 20%;
  }
}
.header__list {
  display: inline-flex;
  height: 40%;
  width: 100%;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .header__list {
    display: flex;
    height: 100%;
    width: 100%;
  }
}
.header__leftitem {
  width: 50%;
  text-align: center;
  padding: 0 0 0.7rem 0;
}
@media screen and (min-width: 768px) {
  .header__leftitem {
    width: 50%;
    height: 100%;
    text-align: center;
    border-bottom: none;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__leftitem {
    width: 50%;
    height: 100%;
    text-align: center;
    border-bottom: none;
    padding: 2rem 0;
  }
}
.header__rightitem {
  width: 50%;
  text-align: center;
  border-bottom: #FFFFFF 2px solid;
  padding: 0 0 0.7rem 0;
}
@media screen and (min-width: 768px) {
  .header__rightitem {
    width: 50%;
    text-align: center;
    padding: 1.5rem;
    border-bottom: none;
  }
}
@media screen and (min-width: 1280px) {
  .header__rightitem {
    width: 50%;
    height: 100%;
    text-align: center;
    border-bottom: none;
    padding: 2rem 0;
  }
}
.header__rightlink--active {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__rightlink--active {
    height: 100%;
    padding: 1.5rem 0;
    border-bottom: #FFFFFF 2px solid;
  }
}
@media screen and (min-width: 1280px) {
  .header__rightlink--active {
    height: 100%;
    padding: 2rem 0;
    margin: 0;
    border-bottom: #FFFFFF 2px solid;
  }
}
.header__leftlink {
  color: #E1E1E1;
  text-decoration: none;
  font-weight: normal;
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.2)), url("../assets/Images/Photo-gallery-3.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
}
.hero__text {
  color: #FFFFFF;
  padding: 1rem 0 0.5rem 1.3rem;
  font-size: 0.9rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__text {
    padding: 2rem 0 0 2rem;
    font-size: 1.4rem;
    font-weight: 600;
  }
}
.hero__song {
  color: #FFFFFF;
  padding-left: 1.3rem;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .hero__song {
    padding: 1rem 0 0 2rem;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4rem;
  }
}
.hero__sound {
  width: 100%;
  height: 9rem;
  padding: 1.3rem;
}
@media screen and (min-width: 768px) {
  .hero__sound {
    width: 60%;
    height: 14rem;
    padding: 3rem 0 3rem 2rem;
  }
}

.shows__subtitle-outside {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__subtitle-outside {
    display: flex;
    padding: 0 1rem 0 2rem;
    font-size: 0.9rem;
    color: #AFAFAF;
    width: 25.1%;
  }
}
.shows__subtitle-format {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__subtitle-format {
    display: flex;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .shows__item {
    display: flex;
    width: 100%;
  }
}
.shows__title {
  margin: 2rem 0 0.6rem 1rem;
  font-weight: 620;
}
@media screen and (min-width: 768px) {
  .shows__title {
    margin: 3rem 0 2rem 2rem;
    font-size: 3rem;
    font-weight: 600;
  }
}
.shows__subtitle {
  color: #AFAFAF;
  font-size: 0.6rem;
  padding: 0.7rem 0 0 1rem;
  line-height: 1.2rem;
}
@media screen and (min-width: 768px) {
  .shows__subtitle {
    visibility: hidden;
    width: 28%;
    padding: 0;
  }
}
.shows__detail {
  color: #000000;
  font-weight: 600;
  font-size: 0.8rem;
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .shows__detail {
    padding: 0 1rem 0 2rem;
    font-weight: 700;
    line-height: 3rem;
    font-size: 0.9rem;
  }
}
.shows__button {
  color: #FFFFFF;
  background-color: #323232;
  border-radius: 0.3rem;
  padding: 1rem;
  font-weight: 700;
  margin: 1rem 1rem;
  width: 90%;
  border: 1px solid #323232;
}
@media screen and (min-width: 768px) {
  .shows__button {
    padding: 1rem;
    width: 20%;
    margin: 1rem 2rem 1rem 1rem;
  }
}
.shows__divider {
  border-bottom: 2px solid #E1E1E1;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .shows__divider {
    margin: 0 1rem;
    width: 95%;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem 0 1rem 1rem;
  font-size: 0.8rem;
  line-height: 1.125rem;
  font-weight: Regular 400;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    font-size: 0.9rem;
    padding: 1rem 0 1rem 6rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__row1 {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 2rem 0;
  }
}
.footer__chat {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__chat {
    font-size: 2.45rem;
    font-weight: 600;
    margin-left: 1rem;
    padding: 0.5rem 0 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__chat {
    font-size: 2.45rem;
    font-weight: 600;
    margin-left: 1rem;
    padding: 0.5rem 1.5rem 0 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__icons {
    display: flex;
  }
}
.footer__icon {
  height: 1.5rem;
  margin-top: 1rem;
  margin-right: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__icon {
    margin: 0.2rem 0.3rem 0 1.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__icon {
    margin: 0.2rem 0 0 2.3rem;
  }
}
.footer__logo1 {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .footer__logo1 {
    visibility: visible;
    padding: 0 0 0 14.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo1 {
    visibility: visible;
    padding: 0 0 0 31.7rem;
  }
}
.footer__logo2 {
  visibility: visible;
  padding: 2rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__logo2 {
    visibility: hidden;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__row2 {
    display: flex;
  }
}
.footer__part1 {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__part1 {
    width: 33%;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__part1 {
    width: 24%;
  }
}
.footer__part2 {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__part2 {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__part2 {
    width: 22%;
  }
}
@media screen and (min-width: 768px) {
  .footer__part3 {
    width: 30%;
    margin: 0 2rem 0 0;
  }
}
.footer__company {
  padding: 0 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__company {
    padding: 1rem 0;
  }
}
.footer__mail {
  padding-top: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 4rem;
}
.footer__name {
  margin: 2rem 0 1rem 0;
  font-size: 1.6rem;
}
.footer__copyrights {
  font-size: 0.68rem;
}
@media screen and (min-width: 768px) {
  .footer__copyrights {
    margin-left: 1rem;
    font-size: 0.9rem;
    padding: 1rem 0 2rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyrights {
    margin-left: 1rem;
    font-size: 0.73rem;
    padding: 1rem 0 2rem 0;
  }
}

.sc-button-cta {
  display: none;
}/*# sourceMappingURL=shows.css.map */